.btn{
	width: 90%;
	height: 90px;
	margin: 10px;
}

body{
	background-image: url("../images/cloud.jpeg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: large;
    background-size: cover;
	   
}


.radio{
	width: auto;
}
input{
	width: 90%;  
	margin: 10px;
}

select{
	width: 90%;
	margin: 10px;
}

tbody{
	width: 90%;
	margin: 10px;
}