.btn{
	width: 90%;
	height: 100px;
	margin: 10px;
}

body{
	width: 90%
	height 100px;
	margin: 10px;
	background-image: url("../images/cloud.jpeg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size:large;
    background-size: cover;
	 
}



